

#a {
  width: 100%;
  height: 75px;
  line-height: 75px;
  background: red;
  
}
#b {
  width: 100%;
  height: 150px;
  line-height: 150px;
  background: orange;

}
#c {
  width: 100%;
  height: 125px;
  line-height: 125px;
  background: yellow;

}
#d {
  width: 100%;
  height: 125px;
  line-height: 125px;
  background: green;

}
#e {
  width: 50%;
  height: 250px;
  float: left;
  line-height: 250px;
  background: blue;

  
}
#f {
  width: 50%;
  height: 250px;
  float: left;
  line-height: 250px;
  background: purple;

}
#g {
  width: 50%;
  height: 250px;
  float: left;
  line-height: 250px;
  background: black;

}
#h {
  width: 50%;
  height: 250px;
  float: left;
  line-height: 250px;
  background: grey;

}
#i {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: turquoise;
  clear: left;

}


@media (min-width: 768px ) 
{
#a {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: turquoise;
}

#b {
  height: 600px;
  width: 20%;
  float: left;
  line-height: 600px;
  background: grey;
}

#cd {
  float: left;
  width: 80%;
  height: 100%;
  background: black;
  
}

#c {
  width: 50%;
  height: 200px;
  float: left;
  line-height: 200px;
  background: black;

}
#d {
  width: 50%;
  height: 200px;
  float: left;
  line-height: 200px;
  background: purple;
  
}

#e {
  width: 20%;
  height: 250px;
  float: left;
  line-height: 250px;
  background: blue;

  
}
#f {
  width: 20%;
  height: 250px;
  float: left;
  line-height: 250px;
  background: green;
  
}
#g {
  width: 20%;
  height: 250px;
  float: left;
  line-height: 250px;
  background: yellow;

  
}
#h {
  width: 20%;
  height: 250px;
  float: left;
  line-height: 250px;
  background: orange;
  
}

#i {
  clear: none;
  float: left;
  width: 80%;
  height: 150px;
  line-height: 150px;
  background: red;
}

}